<% content_for :navbar do %>
<%= render 'shared/header' %>
<% end %>

<div class="content-wrap">
  <div class="content">

  <main role="main">
<%= render 'form' %>
<%= link_to "Back", jobs_path %>
</main>
</div>
</div>