
  <body class="visitors-index">
    <div class="wrapper">
      <div class="menu-wrap">
  <nav class="menu-top">
    <div class="profile"><span>MENU</span></div>
    <div class="icon-list">
      <a href="/jobs"><i class="icon ion-android-home"></i></a>
    </div>
  </nav>
  <nav class="menu-side">
    <ul>
      <li><a class="first" href="/users/sign_in">Login</a></li>
      <li><a href="/users/sign_up">Sign up</a></li>
    </ul>
  </nav>
</div>
<!-- <a class="cd-primary-nav-trigger" id="open-menu" href="#0">
  <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
</a> -->
<!-- <button class="menu-button" id="open-menu">Open Menu</button> -->
      <div class="content-wrap" ng-controller="jobsController">
        <div class="content">
          <header>
            <nav class="navbar navbar-fixed-top navbar-home">
  <div class="logo-wrapper text-center">
    <a class="navbar-brand logo" href="/jobs">
      Working Nomads<br><span>curated delivery of remote jobs
</a>  </div>
</nav>

          </header>
          <main role="main">
            
            <toaster-container></toaster-container>
            <section id="intro" class="section current cbp-so-section">
        <!-- Featured Copy -->
        <div class="block-centered">
          <h1 data-scrollreveal="enter from the top and move 50px over 1.33s">A curated list of remote jobs, <br>for the modern working nomad.</h1>
          <p data-scrollreveal="wait 0.2s and then enter from the top and move 10px over 1.33s" >We curate the best digital jobs for those looking to work remotely.</p>
          <p data-scrollreveal="wait 1.5s and then enter over 1.33s" class="cta-buttons"><a class="popup btn btn-lg cta scrollAnchor" href="/jobs">Browse remote jobs</a></p>
        </div>

      </section> <!-- end Intro Section -->

      <div id="overlay" class="darker"></div>

  </div>


  <footer class="sticky">
    <div class="share">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://workingnomads.co" data-text="Working Nomads - Curated delivery of remote jobs, straight to your inbox." data-via="workingnomads" data-size="large" data-related="workingnomads">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </footer>
          </main>
        </div>
      </div>
    </div>
    

    <script>
        window.scrollReveal = new scrollReveal();
    </script>

    <script>
</script>

  </body>
</html>

